@import '../Main';

.form_steps {
  width: 100%;
  height: 800px;
  background-image: url("teddy.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  .step_button {
    font-family: $font-alt;
    padding: 20px;
    border: 1px solid $color3;
  }
}

.checkboxForm, .receiversForm {
  display: flex;
  flex-direction: column;
}

