@import 'scssSettings/colors', 'scssSettings/fonts', 'scssSettings/reset', 'scssSettings/mixins';

* {
  box-sizing: border-box;
  color: $color5;
  text-align: center;
}

a {
  text-decoration: none;
}

.container {
  width: 100vw;
  margin: 0 auto;

  @include notebook {
    width: 100%;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: $font-base;
}

.giveAwayButton {
  font-size: 30px;
  font-family: $font-alt;
  color: $color5;
  width: 280px;
  height: 100px;
  background: transparent;
  border: 1px solid $color5;
  margin: 25px;
}

.decoration {
  background-image: url("../assets/Decoration.svg");
  background-size: cover;
  background-position: center;
  width: 253px;
  height: 33px;
  margin: 15px;
}

h1 {
  font-size: 30px;
  margin: 20px;
}

.inputStyle, .textareaStyle {
  font-family: $font-alt;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid $color5;
  width: 200px;
  margin: 15px;

  padding: 10px;
}

.textareaStyle {
  width: 410px;
}

.redError {
  font-size: 15px;
  color: red;
  width: 100%;
}



