@import '../sass/colors', '../sass/fonts', '../sass/reset', '../sass/mixins';

* {
  box-sizing: border-box;
  color: $color5;
  text-align: center;
}

a {
  text-decoration: none;
}

.container {
  width: 100vw;
  margin: 0 auto;

  @include notebook {
    width: 100%;
  }
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: $font-base;
}

.give_away_button {
  font-size: 18px;
  font-family: $font-alt;
  color: $color5;
  width: 230px;
  height: 50px;
  background: transparent;
  border: 2px solid $color3;
  border-radius: 3px;
  margin: 25px;
}

.give_away_button:hover {
  box-shadow: 0 0 4px $color3;
}

.decoration {
  background-image: url("../assets/Decoration.svg");
  background-size: cover;
  background-position: center;
  width: 180px;
  height: 28px;
  margin: 15px;
}

h1 {
  font-size: 26px;
  margin: 20px;
}

.input_style, .textarea_style {
  font-family: $font-alt;
  background: rgba(250, 214, 72, 0.3);
  outline: none;
  border: none;
  box-shadow: 0 0 2px $color3;
  width: 400px;
  margin: 15px;
  padding: 10px;
}

.textarea_style {
  width: 400px;
}

.red_error {
  font-size: 14px;
  color: darkorange;
  width: 100%;
  padding: 5px;
  margin: 5px;
}

.the_other_button {
  font-size: 14px;
  font-family: $font-alt;
  color: $color5;
  width: 160px;
  height: 40px;
  background: transparent;
  border: 1px solid $color5;
  border-radius: 3px;
  margin: 15px;
}
.the_other_button:hover {
  box-shadow: 0 0 2px $color5;
}
