@import '../Main';

.contact {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;
  background-image: url("Background-Contact-Form.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 700px;
  padding: 100px;
  .contact_content {

    background-color: rgba(255, 255, 255, 0.6);
    border: 2px solid $color3;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .green_confirmation {
      font-size: 14px;
      color: $color3;
      width: 50%;
      margin: 10px;
      padding: 5px;
    }
    .contact_form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .contact_details {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

