@import '../Main';

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("contact-opacity.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 900px;
  .contactDiv {
    position: relative;
    left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contactForm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .inputStyle {
        width: 200px;
      }
    }
  }
}