@import '../Main';

.paginator_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(115, 115, 115, 0.1);
  align-items: center;
  width: 100%;
  padding: 50px;
  .paginator_options {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.template_header {
  color: $color3;
  font-size: 20px;
}

.template_text {
  font-weight: bold;
  font-size: 16px;
  margin: 5px;
}

.template_elements {
  font-size: 14px;
  margin: 3px;
}
