.about_container {
  display: flex;
  .about_left {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    .about_title {
      font-size: 30px;
    }
    .about_decoration {
      background-image: url("../../assets/Decoration.svg");
      background-size: cover;
      background-position: center;
      width: 200px;
      height: 70px;
    }
    .about_description {
      font-size: 20px;
    }
    .about_sign {
      background-image: url("../../assets/Signature.svg");
      background-size: cover;
      background-position: center;
      width: 200px;
      height: 200px;
    }
  }
  .about_right {
    background-image: url("../../assets/People.jpg");
    background-size: cover;
    background-position: center;
    width: 50vw;
    height: 50vh;
  }
}