@import '../Main';

.navi_container {
  font-family: $font-alt;
  display: flex;
  justify-content: flex-end;
  .login_register {
    display: flex;
    .login_link {
      text-decoration: none;
      border: 2px solid white;
      font-size: 18px;
      padding: 5px;
      margin: 20px;
      &:hover {
        border: 2px solid gold;
        border-radius: 3px;
      }
    }
  }
}
