@import '../Main';

.naviContainer {
  font-family: $font-alt;
  display: flex;
  justify-content: flex-end;
  .loginRegister {
    display: flex;
    .loginLink {
      text-decoration: none;
      border: 1px solid white;
      font-size: 20px;
      padding: 5px;
      margin: 20px;
      &:hover {
        border: 1px solid gold;
      }
    }
  }
}