@import '../Main';

.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  .socialMedia {
    display: flex;
    .facebook, .instagram {
      background-size: cover;
      background-position: center;
      width: 30px;
      height: 30px;
      margin: 10px;
    }
    .facebook {
      background-image: url("Facebook.svg");
    }
    .instagram {
      background-image: url("Instagram.svg");
    }
  }
}