@import '../Main';

.container_footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(250, 214, 72);
  .copy {
    font-size: 14px;
    margin: 10px;
    padding: 10px;
  }
    .facebook, .instagram {
      background-image: url("Facebook.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 20px;
      margin: 10px;
    }
    .facebook {
      background-image: url("Facebook.svg");
    }
    .instagram {
      background-image: url("Instagram.svg");
    }
}
