@import '../Main';

.headerContainer {
  display: flex;
  width: 100vw;
  .headerLeft {
    background-image: url("Home-Hero-Image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 50vw;
    height: 540px;
  }
  .startHelping {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    .headerButtons {
      display: flex;
    }
  }
}