@import '../Main';

.steps_container {
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .steps_title {
    font-size: 26px;
    margin: 20px;
  }
  .all_steps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $color1;
    padding: 50px;
    margin: 20px;
    height: auto;
    width: 100%;
    .box_element {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 45px;
      h1 {
        font-size: 16px;
        margin: 15px;
        color: $color3;
      }
      .box_icon {
        background-repeat: no-repeat;
        background-color: $color3;
        background-position: center;
        background-size: contain;
        width: 80px;
        height: 80px;
        margin:10px;
        border: 2px solid $color3;
        border-radius: 4px;
      }
      .box_icon1 {
        background-image: url("Icon-1.svg");
      }
      .box_icon2 {
        background-image: url("Icon-2.svg");
      }
      .box_icon3 {
        background-image: url("Icon-3.svg");
      }
      .box_icon4 {
        background-image: url("Icon-4.svg");
      }
      .box_line {
        height: 1px;
        width: 100px;
        margin: 10px;
        background-color: dimgray ;
        opacity: 0.7;
      }
      p {
        font-family: $font-alt;
        font-size: 14px;
      }
    }
  }
}
