@import '../Main';

.stepsContainer {
  font-family: $font-alt;
  color: $color5;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  .stepsTitle{
    margin: 20px;
  }
  .stepsDecoration {
    background-image: url("Decoration.svg");
    background-size: cover;
    background-position: center;
    width: 253px;
    height: 33px;
  }
  .stepsElements {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color1;
    padding: 50px;
    margin: 30px;
    width: 100%;
    height: auto;
    .boxElement {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 45px;
      h1 {
        font-size: 16px;
        margin: 5px;
      }
      .boxIcon {
        width: 83px;
        height: 83px;
      }
      .boxIcon1 {
        background-image: url("Icon-1.svg");
      }
      .boxIcon2 {
        background-image: url("Icon-2.svg");
      }
      .boxIcon3 {
        background-image: url("Icon-3.svg");
      }
      .boxIcon4 {
        background-image: url("Icon-4.svg");
      }
      .boxLine {
        height: 1px;
        width: 100px;
        margin: 10px;
        background-color: dimgray ;
        opacity: 0.7;
      }
      p {
        font-size: 14px;
      }
    }
  }
}