@import '../Main';

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px;
  .loginForm {
    background-color: $color1;
    width: 400px;
    height: 400px;
    .loginInputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .loginButtons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}