@import '../Main';

.main_menu {
  .menu_display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .menu_item {
    font-family: $font-alt;
    border: 1px solid transparent;
    font-weight: bold;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
  }
  .menu_item:hover {
    color: $color3;
    border: 1px solid $color2;
    border-radius: 3px;
  }
}
