@import '../Main';

.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 70px;
  .registerForm {
    background-color: $color1;
    width: 400px;
    height: 400px;
    .registerInputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .registerButtons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}