@import '../Main';

.registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .registerTitle {
    font-size: 40px;
    font-family: $font-alt;
  }
  .registerForm {
    background-color: $color1;
    width: 400px;
    height: 400px;
    .registerInputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .inputStyle {
      border-style: none;
      background: transparent;
      margin: 30px;
    }
    .registerButtons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}