@import '../Main';

.threeColumns {
  font-family: $font-alt;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 300px;
  background-image: url("3 Columns Background@2x.png");
  background-position: center;
  background-size: cover;
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    margin-left: 60px;
    padding: 30px;
    width: 334px;
    height: 252px;
    color: $color5;
    h1 {
      font-size: 90px;
    }
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 16px;
    }
  }
}